* {
  padding: 0;
  margin: 0;
}
/* Basic Typography */
html,
body {
  font-size: 1em;
  line-height: 1.65em;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  background: #fff;
  color: #444;
}
html {
  height: 100%;
}
body {
  padding: 3em 2.5em 1em 21em;
  min-height: 100%;
}
/* Blocks */
header {
  border-right: 1px #eee solid;
  padding: 2em;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 13.5em;
  background-color: #2e2e35;
  background-repeat: no-repeat;
  background-size: cover;
  color: #e0e0e0;
}
#content {
  display: block;
  width: 100%;
}
footer {
  padding: 1em 0em 2.5em 0em;
  font-size: 0.8em;
  line-height: 1.5em;
  color: #888;
}
#footer-message {
  text-align: center;
}
article {
  border-bottom: 0.1em #eee solid;
  padding-bottom: 1.7em;
  max-width: 48em;
  font-size: 1.0em;
  line-height: 1.8em;
  margin: 0 auto 0 auto;
}
p,
hr {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}
h1,
h2 {
  font-weight: 700 !important;
}
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}
h1 {
  font-size: 1.8em;
  line-height: 1.1em;
  margin-top: 1.2em;
  margin-bottom: 0.9em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 0.7em;
}
h3 {
  font-size: 1.3em;
  line-height: 1.1em;
  margin-top: 1.2em;
  margin-bottom: 0.7em;
}
h4 {
  font-size: 1.1em;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}
h5 {
  font-size: 1.05em;
  margin-top: 1.2em;
  margin-bottom: 0.7em;
}
h6 {
  font-size: 1.0em;
  margin-top: 1.2em;
  margin-bottom: 0.7em;
}
/* Page Elements */
img,
iframe {
  max-width: 100%;
}
p img {
  max-width: 75%;
  margin: 1.5em auto;
  display: block;
}
a {
  /* font-weight:700; */
  text-decoration: none;
  color: #2196f3;
}
header a {
  color: #e0e0e0;
}
a:hover {
  text-decoration: underline;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  /* font-weight:400 !important; */
}
strong {
  font-weight: 700;
}
blockquote {
  border-left: 0.4em solid #eee;
  padding: 0.2em 1.2em;
  margin-left: 1em;
  background-color: #f7f7f7;
}
hr {
  border: 0;
  height: 1px;
  background: #eee;
}
ul,
ol {
  margin-left: 3em;
}
code {
  font-size: 1.1em;
  background: #eee;
  padding: 3px 5px;
  border-radius: 5px;
}
pre {
  font-size: 1em;
  line-height: 1.5em;
  background: #eee;
  padding: 1em;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: pre\9;
}
input {
  font-size: 1em;
  padding: 0.3em;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure figcaption {
  font-size: 0.9em;
  font-style: italic;
  margin: 0.5em;
  opacity: 0.9;
}
/* Sidebar */
header h1 {
  font-size: 2.2em;
  margin-top: 0.8em;
  margin-bottom: 0.6em;
}
header h1 a {
  color: #e0e0e0;
}
header h1 a:hover {
  text-decoration: none;
}
#logo-and-title #logo img {
  width: 8em;
  height: 8em;
  border-radius: 4em;
  -moz-border-radius: 4em;
  -webkit-border-radius: 4em;
  border: none;
  display: block;
}
#follow-icons {
  font-size: 1em;
  /* margin-top: -0.7em; */
  margin-top: 2em;
  margin-bottom: 1.5em;
}
#follow-icons a {
  color: #e0e0e0;
  margin-right: 0.9em;
}
#follow-icons a:last-of-type {
  margin-right: 0;
}
#follow-icons span {
  vertical-align: top;
  margin-left: -0.15em;
  margin-right: -0.15em;
}
#follow-icons span .fa-stack-1x {
  font-size: 1.05em;
  line-height: 1.9em;
}
header h6 {
  margin-top: 0.5em;
}
header .header-bottom {
  position: fixed;
  bottom: 0.9em;
}
#dark-mode-toggle-button {
  cursor: pointer;
  user-select: none;
}

/* Posts */
article span.post-stamp {
  color: #888;
}
h1.post-title {
  font-size: 2.5em;
  margin-top: 0.35em;
  margin-bottom: 0.6em;
}
h3.post-title {
  margin-top: 0.4em;
  padding-bottom: 0.9em;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
}
h3.post-title .title {
  color: #444;
}
h3.post-title .meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
h3.post-title .date {
  font-size: 0.675em;
  color: #777;
  text-transform: uppercase;
  margin-right: 3px;
}
.post-title .feature-star {
  font-size: 0.9em;
}
.separator,
.taglist,
.feature-star {
  color: #ccc;
}
.taglist a {
  background-color: #ccc;
  color: #fff;
  display: inline-block;
  line-height: 1.5em;
  padding: 0.3em 0.6em 0.3em 0.6em;
  vertical-align: 20%;
  font-size: 0.5em;
  font-family: inherit, sans-serif;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
#social-bar {
  margin-top: 1.5em;
  background-color: #eee;
  padding: 0.5em;
}
#comments {
  margin-top: 1em;
  padding-bottom: 0.2em;
  /* border-bottom: 1px solid #eee; */
}
/* Footer */
.pagination {
  margin-bottom: 1em;
}
footer a {
  font-weight: 400;
  color: #888;
  text-decoration: underline;
}
footer a:hover {
  color: #444;
  text-decoration: none;
}
/* Large Screens */
@media only screen and (min-width: 1200px) {
  figure {
    margin-left: -2em;
  }
}
/* Small Screens */
@media only screen and (max-width: 1199px) {
  body {
    padding: 0;
  }
  header {
    border-right: none;
    border-bottom: 1px #eee solid;
    position: relative;
    height: auto;
    width: auto;
    text-align: center;
    padding: 3.5em 1em 1em 1em;
  }
  #logo-and-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logo-and-title h1 {
    margin: 0;
    font-size: 2em;
  }
  #logo-and-title #logo img {
    width: 4em;
    height: 4em;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 25em;
    margin-right: 1.25em;
  }
  #content {
    margin-left: 0;
    padding: 2em 2em 1em 2em;
    width: auto;
  }
  footer {
    padding: 0 2.5em 2em 2.5em;
  }
}
/* Tiny Screens */
@media only screen and (max-width: 360px) {
  header {
    padding: 1.4em 1.2em 0.6em 1.2em;
  }
  #logo-and-title #logo img {
    display: none;
  }
  #content {
    padding: 1.2em 1.2em 0.6em 1.2em;
  }
  footer {
    padding: 0 1.5em 1.2em 1.5em;
  }
  ul,
  ol {
    margin-left: 2em;
  }
}

/* Mobile header. */
#mobile-header,
#expand-mobile-header-button-container {
  display: none;
}
@media only screen and (max-width: 1199px) {
  header {
    display: none;
  }
  #mobile-header {
    display: flex;
    background-color: #222;
    padding: 0;
  }

  .mobile-header-expanded header {
    display: block;
  }
  .mobile-header-expanded header .header-bottom {
    position: relative;
    bottom: 0;
    margin-bottom: 0.9em;
  }

  .mobile-header-expanded #mobile-header {
    display: none;
  }

  #expand-mobile-header-button-container {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  }

  #mobile-header,
  #expand-mobile-header-button-container {
    color: white;
    height: 5em;
    line-height: 5em;
  }
  #expand-mobile-header-button {
    font-size: 1.4em;
    padding: 0 1.5em;
  }

  #mobile-header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  #mobile-header > ul > li > a,
  #expand-mobile-header-button {
    display: inline-block;
    height: 100%;
    color: white;
  }
  #mobile-header > ul > li > a:hover {
    text-decoration: none;
  }
  #mobile-header .title {
    font-size: 1.5em;
    font-weight: 700 !important;
    padding: 0 1.2em;
  }
}

/* Dark mode. */
.dark-mode {
  color: #e0e0e0;
  background-color: #202027;
}

.dark-mode header {
  background-image: none !important;
  border-right: 1px solid #444;
}
@media only screen and (max-width: 1199px) {
  .dark-mode header {
    border-right: none;
    border-bottom: 1px solid #444;
  }
}
.dark-mode code {
  background-color: #333;
}
.dark-mode pre,
.dark-mode pre code {
  background-color: #d7d7d7;
}

.dark-mode blockquote {
  border-left: 0.4em solid #444;
  background-color: #333;
}

.dark-mode .taglist a {
  background-color: #555;
}

.dark-mode h3.post-title,
.dark-mode article {
  border-bottom: 1px solid #444;
}
.dark-mode h3.post-title .title {
  color: #e0e0e0;
}
.dark-mode h3.post-title .date {
  color: #ccc;
}

.dark-mode hr,
.dark-mode #social-bar {
  background-color: #444;
}

h4.kg-toggle-heading-text {
  font-weight: 400 !important;
}
